body{
    background-color: rgb(244, 244, 244);
    /* margin: 40px auto; */
    /* max-width: 650px; */
    line-height: 1.6;
    font-size: 18px;
    color: #444444;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2;
   
}

fieldset {
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}