
* {
    --translucent-white: rgba(255, 255, 255, 0.7);
    --blur-filter: blur(8px);
}

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 93%; margin-top:7.5%; margin-left: 5%; margin-right: -10%;}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* from w3schools */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #d1d4d2;; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #464444;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* From uiverse.io */
.button {
    padding: 0.7rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    /* background: var(--translucent-white); */
    backdrop-filter: var(--blur-filter);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    width: fit-content;
    height: min-content;
}

.button:hover {
    background-color: #ff0000;
    box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
    color: #000000;
    fill: #000000;
    transform: translateY(-7px);
}

.openNavButton {
  padding: 0.7rem;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  /* background: var(--translucent-white); */
  backdrop-filter: var(--blur-filter);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
  height: min-content;
}

.openNavButton:hover {
  background-color: #7c7c7c;
  box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
  color: #000000;
  fill: #000000;
  transform: translateY(-7px);
}

.active {
    background-color: #ff0000;
    
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div {
  display: center;
}

.logo-img {
  width: 30px; 
  height: auto; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d4d2;
    height: 90px;
    padding: 0 20px;
    border-radius: 15px;
  }

  .somuch {
    font-size: 10px;
  } 

.logo-container {
    margin-right: 290px;
    margin-bottom: -15px; 
    border: inline-block;
    border-color: #a4a8a6;
    padding: 30px;
    border-radius: 50%;
    background-color: #d1d4d2;
    
}

.search-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

#search-form {
    display: flex;
    align-items: center;
    
}

#search-input {
  border: solid 1px;
  width: 100%;
  border-radius: 15px;
    box-shadow: 0px 0px 40px #b6bec4;
    color: #d1d4d2;
  padding: 10px;
    margin-right: 5px;
}

#logo {
  margin-left: 33%;
  font-size: 24px;
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
  color: rgb(22, 23, 22);
}

#Log-out{
  font-size: 16px;
  text-decoration: none;
  color: rgb(22, 23, 22);
  margin-left: auto;
}
  
